.content_list {
    text-align: center;
    list-style-type: none;
    position:relative;
    left:50%;
    float:left;
}

.content {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #dc4edc;
    position:relative;
    left:-50%;
    float:left;
}

.content_title {
    display:block;
    color: white;
    line-height: 100px;
    text-decoration: none;
}

